li.owners {
    background-color: rgb(247, 226, 255);
}

li.planners {
    background-color: rgb(235, 255, 228);
}

li.guests {
    background-color: rgb(255, 247, 226);
}

.role-text {
    opacity: 50%;
}